@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,500&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
:root {
    --color-white: white;
    --color-grey: grey;
    --color-dark: rgb(0, 0, 0);
    --color-primary: red;
    --transition: all 1s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

body {
    background: var(--color-dark);
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
    max-width: 100vw;
}

.container {
    align-items: center;
    justify-content: center;
    top: 20px;
    background-color: red;
    width: 90%;
    height: 600px;
}